<div class="proyectos-container">
  <h1>Mis Proyectos</h1>
  <p class="intro">Estos son algunos de los proyectos que tengo en mente, que ojalá DIOS me permita y que deseo desarrollar como futuro Ingeniero de Sistemas.:</p>

  <div class="proyectos-grid">
    <div
      *ngFor="let proyecto of proyectos"
      class="proyecto-card"
      appHighlightOnHover
      [colorFondo]="'#eef2ff'">

      <h3>{{ proyecto.nombre | primeraMayuscula }}</h3>
      <p class="fecha">📅 {{ proyecto.fecha }}</p>
      <p class="descripcion">{{ proyecto.descripcion }}</p>

      <div class="tecnologias">
        <span *ngFor="let tech of proyecto.tecnologias" class="tech-tag">
          {{ tech }}
        </span>
      </div>

      <a *ngIf="proyecto.enlace" [href]="proyecto.enlace" target="_blank" class="ver-proyecto">
        🔗 Ver Proyecto
      </a>
    </div>
  </div>
</div>
